body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.student-list {
    background: white;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ul li {
    list-style: none;
    padding: 10px;
    background: #eee;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.add-btn {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.details-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.save-btn {
    background: #007bff;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
}

.popup-content input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}


.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}


